@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth horizontal scroll styling */
::-webkit-scrollbar {
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  